/* Estilos Principales */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins:wght@500&family=Roboto&display=swap");

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

/* Tipografias */
.tx-titulo {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.tx-intermedio {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.tx-parrafo {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}

/* Colores */
.tx-AzulOscuro {
  color: #0e3361;
}

.tx-AzulMatices {
  color: #0b4e77;
}

.tx-RosaOscuro {
  color: #c96e67;
}

.tx-RosaMatices {
  color: #ea8172;
}

/* Colores de Fondo */
.bg-AzulOscuro {
  background-color: #0e3361;
}

.bg-AzulMatices {
  background-color: #0b4e77;
}

.bg-RosaOscuro {
  background-color: #c96e67;
}

.bg-RosaMatices {
  background-color: #ea8172;
}



/*! FOOTER */
footer{
  background-color: #0e3361;
}

/* Tamaños de logo en footer */
@media screen and (max-width: 767px) {
  .logo-footer{
    width: 75%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .logo-footer{
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .logo-footer{
    width: 20%;
  }
}

.borde-footer{
  border-top: 1px solid #ea8172;
}

/* Ajusta el ancho de sección "matices" */
@media screen and (min-width: 991px) {
  .ancho-matices{
    width: 70%;
  }
}